# Update Helm charts configuration file
#
# Empty lines and lines starting with # are ignored
#
# The file is a list of Helm repositories and Helm charts to be downloaded 
# # Format 

# repo_url: The URL of the Helm repository
# repo_name: The name of the Helm repository. This is how it will be called internally
# chart_name: The name of the Helm chart to be downloaded
# chart_version: The version of the Helm chart to download 
# 
# repo_url                                repo_name       chart_name   chart_version
#-------------------------------------------------------------------------------------
# To get the latest version number use the tag in the github repo
# https://github.com/dagster-io/dagster/releases Example: 1.6.0
https://dagster-io.github.io/helm         dagster         dagster      1.7.16

#
# Daskhub
#
# To get the version number use the release tag in the repo
# https://github.com/dask/helm-chart/tags. Example 2024.1.0
https://helm.dask.org/                    dask            daskhub      2024.1.0

#
# Apache Drill
#
# To get the version Use the latest release tag in the repo
# https://github.com/magasin-drill/tags
https://unicef.github.io/magasin-drill    drill           drill        0.7.2

#
# MinIO
#
# To get the latest version number go to
# https://operator.min.io/index.yaml
# Search for the string "name: operator"
https://operator.min.io/                  minio           operator     6.0.1
https://operator.min.io/                  minio           tenant       6.0.1

#
# Superset 
#
# Search for superset-helm-chart version 
# https://github.com/apache/superset/tags

https://apache.github.io/superset         superset        superset     0.12.6
