#
# Publish Magasin Helm charts in the gh-pages branch
# It creates a release.
#
# Reference documentation
#
# What needs to be setup in Github
# https://helm.sh/docs/topics/chart_repository/#github-pages-example
# Chart releaser action 
# https://helm.sh/docs/howto/chart_releaser_action/
# Chart releaser action GH Marketplace page
# https://github.com/marketplace/actions/helm-chart-releaser
#

name: Publish helm charts

on:
  # On tag creation
  push:
    tags: 
      # Only run on tags that have the vX.Y.Z; Example v0.1.1
      - v[0-9]+.[0-9]+.[0-9]+
        
  # Manual run of the 
  workflow_dispatch:
    inputs:
      tag:
        description: 'Release tag. Use format: vX.Y.Z'
        default: 'v0.0.1'
        required: true
        type: string
      action:
          # What action to perform
          description: 'Release action. Edit adds the assets and updates the index'
          default: create
          required: true
          type: choice
          options:
            - create
            - edit

jobs:
  release:
    # depending on default permission settings for your org (contents being read-only or read-write for workloads), you will have to add permissions
    # see: https://docs.github.com/en/actions/security-guides/automatic-token-authentication#modifying-the-permissions-for-the-github_token
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }} # only needed if version is 'latest'
      
      - name: Install hub
        run: |
            sudo apt install -y hub

      - name: Display the Input options 
        run: |
          echo  "tag:    ${{ inputs.tag }}"
          echo  "action: ${{ inputs.action}}"

      - name: Make helm packages (.tgz)
        id: helm_packages
        run: |
          pwd
          ls
          # Create an env variable
          echo "HELM_PACKAGES_DIR=`pwd`/.helm_packages" >> "$GITHUB_ENV"

          # Create destination folder
          mkdir $HELM_PACKAGES_DIR

          # Get the list of all folders in helm. 
          # each folder has a chart
          cd helm
          # ls -d displays a / at the end of each folder. We remove it using sed
          helm_charts=`ls -d helm/ */ | sed 's/\/$//'`
          cd ..

          # Create the packages that will be assets of the release
          for chart in $helm_charts; do 
            # Creates a .tgz file for each folder in helm
            helm package helm/$chart -d .helm_packages/ 
          done

          # Sets output dir as a variable. Can be accessed using  
          echo "HELM_PACKAGES_DIR=`pwd`.helm_packages" >> "$GITHUB_ENV"
          echo "dir=.helm_packages" >> $GITHUB_OUTPUT
        
      - name: Create/Edit a GitHub release using hub (adds assets)
        run: |  
          pwd
          set -x
          echo $HELM_PACKAGES_DIR
          echo Using helm pacakges dir: ${{ steps.helm_packages.outputs.dir }}
          assets=()
          for asset in `ls ./helm_packages`; do
            assets+=("-a" "./helm_packages/$asset")
          done
          echo The folowing assets will be added to the release: $assets 
          {
            echo 'JSON_RESPONSE<<EOF'
            curl https://example.com
            echo EOF
          } >> "$GITHUB_ENV"
          #cat > release-body.txt << EOF
          #  To install an specific chart:
          #  ```shell
          #  helm repo add magasin https://unicef.github.io/magasin
          #  
          #   helm install <chart> magasin/<chart> --namespace magasin --create-namespace
          #  helm install drill magasin/drill --namespace magasin --create-namespace
          #  helm install dagster magasin/dagster --namespace magasin 
          #  helm install superset magasin/superset --namespace magasin
          #  helm install daskhub magasin/daskhub --namespace magasin 
          #  ```
          EOF
          
          # https://hub.github.com/hub-release.1.html
          hub release ${{ inputs.action}} "${assets[@]}" --file release-body.txt --message "magasin charts ${{inputs.tag}}" "${{ inputs.tag }}"
          
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
      
      # Now proceed to update the index in github
      - name: Checkout gh-pages
        uses: actions/checkout@v4
        with:
          ref: 'gh-pages'
          path: 'gh-pages'


      - name: Update index.yaml
        run: |
          # Go to helm release folder folder
          cd .helm_packages

          # Merge existing index with the new files. The url is given by the release
          helm repo index . --merge ../gh-pages/index.yaml --url "https://github.com/$GITHUB_REPOSITORY/releases/download/${{ inputs.tag }}"
          cp index.yaml  ../gh-pages/index.yaml
          # Check changes
          cd ../gh-pages
          git diff index.yaml
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
    
      - name: "Push the new index"
        uses: EndBug/add-and-commit@v9
        with:
            cwd: './gh-pages/'
            message: "update index.yaml for ${{ inputs.tag }}"
            committer_name: GitHub Actions
            committer_email: actions@github.com

      - name: Push the new index 
        run: |
          cd gh-pages/
          git add .
          git commit -m "update index.yaml for ${{ inputs.tag }}"
          # git push origin gh-pages
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
    